*.o
*.a
*.dSYM
*.pyc
.DS_Store
*.a.objsfile
cmake-build-*
.idea
.install*
.printed_status
todo
wip
*.my*
*.old
3rd_Party
gbpProj
myBin
myData
myInclude
myLib
.cshrc.myCode
.bashrc.myCode
build*
mpich
docs/themes/*
